<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MPS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DBCServlet</servlet-name>
		<servlet-class>com.mps.controller.DBCServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBCServlet</servlet-name>
		<url-pattern>/dbcServlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>DB_USER</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB_PASSWORD</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB_URL</param-name>
		<param-value>jdbc:mysql://localhost:3306/mps</param-value>
	</context-param>
	<context-param>
		<param-name>DB_DRIVER</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>RegistrationServlet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.RegistrationServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>RegistrationServlet</servlet-name> -->
<!-- 		<url-pattern>/register</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>LoginServlet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.LoginServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>LoginServlet</servlet-name> -->
<!-- 		<url-pattern>/login</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>GetUserIdsServet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.GetUserIdsServet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>GetUserIdsServet</servlet-name> -->
<!-- 		<url-pattern>/getAllUsers</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>NewMessageServlet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.NewMessageServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>NewMessage</servlet-name> -->
<!-- 		<url-pattern>/newMessage</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>AllMessagesServlet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.AllMessages</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>AllMessagesServlet</servlet-name> -->
<!-- 		<url-pattern>/readAllMessages</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>SearchMessageServlet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.SearchMessageServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>SearchMessageServlet</servlet-name> -->
<!-- 		<url-pattern>/searchMessage</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>DeleteMessageServlet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.DeleteMessageServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DeleteMessageServlet</servlet-name> -->
<!-- 		<url-pattern>/deleteMessages</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>UpdateMessageServlet</servlet-name> -->
<!-- 		<servlet-class>com.mps.controller.UpdateMessageServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>UpdateMessageServlet</servlet-name> -->
<!-- 		<url-pattern>/updateMessage</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
</web-app>